*{
    margin: 0;
}
body{
    background-image: url(cloth.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.top-bar{
    background-color: black;
    color: white;
    text-align: center;
}
#ramen-menu{
    padding-top:10px;
     display: flex;
    /*flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* text-align: center; */
}
#ramen-menu-images{
display: flex;
flex-direction:row;
align-items: center;
justify-content: center;
}
#ramen-menu-images img{
width:100px;
height:100px;
margin:2px;
object-fit: cover;
border-radius:10px;
border: solid 2px rgb(80, 0, 0);
}
#ramen-menu-images img:hover{
scale:1.05;
cursor: pointer;
}
#featured{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url(holder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius:40px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.3);
    border: solid 8px rgb(63, 1, 6);
}
.deletebtn{
    position: absolute;
    top:6px;
    right:15px;
    background-color: rgba(250, 6, 6, 0.6);
    color: white;
    border-radius: 5px;
    border:none;
    width:80px;
    height:40px;
}
.deletebtn:hover{
    cursor: pointer;
}
.editbtn{
    position: absolute;
    top:6px;
    left:15px;
    background-color: rgba(44, 24, 221, 0.6);
    color: white;
    border-radius: 5px;
    border:none;
    width:80px;
    height:40px;
}
.editbtn{
cursor: pointer;
}

#featured-text {
    position: absolute;
    bottom:100px;
    left:5px;
    margin: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
}

#featured h1 {
    font-size: 20px;
    font-weight: bold;
}

#featured h2 {
    font-size: 16px;
    font-weight: normal;
}
#ramen-detail{
    text-align: center;
}
#ramen-detail h2{
background-color: unset;
color: black;
}
.rateArea{
    display:flex;
    flex-direction: column;
    width:auto;
    /* align-items: center;
    justify-content: center; */
    padding:3px;
}
#rateForm{
    color: white;
    width:400px;
    padding: 5px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.3);
    background:rgba(182, 137, 13, 0.6);
    display: flex;
    flex-direction:column;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}

#rateForm input,
#rateForm textarea{
padding-top:3px;
border-radius:8px;
height:25px;
border: none;
}
.new-ramen{
    text-align: center;
    color: white;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    background-color: black;
    font-size:20px;
}
#submitbtn{
    padding-top: 10px;
    color: white; 
    margin-top: 10px;
    background-color: black;
    font-weight: bold;
    font-size:16px;
}
#submit-edit-btn{
    padding-top: 10px;
    color: white; 
    margin-top: 10px;
    background-color: rgba(44, 24, 221, 0.6);
    font-weight: bold;
    font-size:16px;
    border-radius: 8px;
    border: none;
    display:none;
}


@media screen and (max-width:800px) {
    #ramen-menu{
        flex-direction: column;
    }
  }